@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-background: #000;
  --color-border: lab(100% 0 0/0.15);

  --font-roboto-extralight: Roboto-ExtraLight;
  --font-roboto-light: Roboto-Light;
  --font-roboto-regular: Roboto-Regular;
  --font-roboto-medium: Roboto-Medium;
  --font-roboto-semibold: Roboto-SemiBold;
  --font-roboto-bold: Roboto-Bold;
  --font-roboto-extrabold: Roboto-ExtraBold;
  --font-roboto-black: Roboto-Black;
}
