@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-background: #000;
  --color-border: lab(100% 0 0/0.15);

  --font-poppins-extralight: Poppins-ExtraLight;
  --font-poppins-light: Poppins-Light;
  --font-poppins-regular: Poppins-Regular;
  --font-poppins-medium: Poppins-Medium;
  --font-poppins-semibold: Poppins-SemiBold;
  --font-poppins-bold: Poppins-Bold;
  --font-poppins-extrabold: Poppins-ExtraBold;
  --font-poppins-black: Poppins-Black;
  --font-poppins-thin: Poppins-Thin;
}
